/* Responsive visibility utility classes per breakpoint */
@media(min-width: 1200px) {
            .hidden-72rtr7 {
                display: none !important
            }
        }

        @media(min-width: 810px) and (max-width: 1199.98px) {
            .hidden-tsn51j {
                display: none !important
            }
        }

        @media(max-width: 809.98px) {
            .hidden-f3lv8x {
                display: none !important
            }
        }

        @media(min-width: 1200px) {
            .hidden-128kipa {
                display: none !important
            }
        }

        @media(min-width: 810px) and (max-width: 1199.98px) {
            .hidden-1l0aw67 {
                display: none !important
            }
        }

        @media(max-width: 809.98px) {
            .hidden-xwr0r7 {
                display: none !important
            }
        }
