/* Embedded styles: embed-style-2.css */
.force-styles-:R1ddranalqop: {
                                    opacity: 1
                                }

                                .force-styles-:R1ddranalqop:-item-0 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:R1ddranalqop:-item-1 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:R1ddranalqop:-item-2 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:R1ddranalqop:-item-3 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:R1ddranalqop:-item-4 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:R1ddranalqop:-item-5 {
                                    transform: translateZ(0)
                                }
