/* Embedded styles: embed-style-3.css */
.force-styles-:Rbbrenalqop: {
                                    opacity: 1
                                }

                                .force-styles-:Rbbrenalqop:-item-0 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:Rbbrenalqop:-item-1 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:Rbbrenalqop:-item-2 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:Rbbrenalqop:-item-3 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:Rbbrenalqop:-item-4 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:Rbbrenalqop:-item-5 {
                                    transform: translateZ(0)
                                }
