/* Embedded styles: embed-style-1.css */
.force-styles-:Rbbr6nalqop: {
                                    opacity: 1
                                }

                                .force-styles-:Rbbr6nalqop:-item-0 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:Rbbr6nalqop:-item-1 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:Rbbr6nalqop:-item-2 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:Rbbr6nalqop:-item-3 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:Rbbr6nalqop:-item-4 {
                                    transform: translateZ(0)
                                }

                                .force-styles-:Rbbr6nalqop:-item-5 {
                                    transform: translateZ(0)
                                }
